<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="icon" href="img/icon/Yellow32.png" sizes="32x32">
    <link rel="icon" href="img/icon/Yellow192.png" sizes="192x192">
    <title><%= serverName %> – Tally Controller</title>
    <link href="css/fonts.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="js/jQuery.js"></script>
    <script type="text/javascript">
      let servers = ['<%= host %>'];
      let productionID = <%= prodID %>;
    </script>
    <script type="text/javascript" src="js/commonWS.js"></script>
    <script type="text/javascript" src="js/mixer.js"></script>
    <link rel="stylesheet" href="css/tally.css">
  </head>
  <body>
    <main id="c_main">
      <div id="settings">
      </div>
      <div id="t_chngCont" class="hidden">
        <button id="c_clicker">Auto Clicker</button>
      </div>
      <section id="c_cams">
        <div id="1" class="c_cam">
          <div class="c_lbl">1</div>
          <button class="c_prog c_butt"></button>
          <button class="c_prev c_butt"></button>
        </div>
        <div id="2" class="c_cam">
          <div class="c_lbl">2</div>
          <button class="c_prog c_butt"></button>
          <button class="c_prev c_butt"></button>
        </div>
        <div id="3" class="c_cam">
          <div class="c_lbl">3</div>
          <button class="c_prog c_butt"></button>
          <button class="c_prev c_butt"></button>
        </div>
        <div id="4" class="c_cam">
          <div class="c_lbl">4</div>
          <button class="c_prog c_butt"></button>
          <button class="c_prev c_butt"></button>
        </div>
        <button id="c_add"></button>
      </section>
      <!--<button id="c_cut">Cut</button>
      <button id="c_auto" class="c_butt">Auto</button>-->
    </main>
  </body>
</html>
