<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="icon" href="img/icon/Yellow32.png" sizes="32x32">
    <link rel="icon" href="img/icon/Yellow192.png" sizes="192x192">
    <title><%= serverName %> – Tally Servers</title>
    <link href="css/fonts.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="js/jQuery.js"></script>
    <script>
      let servers = ['<%= host %>'];
    </script>
    <script type="text/javascript" src="js/servers.js"></script>
    <link rel="stylesheet" href="css/servers.css">
  </head>
  <body>
    <main id="n_servers">

      <section id="n_new" style="display: none;">
        <div class="n_newCont">
          <div>Add other severs to network</div>
          <input name="url" id="url" placeholder="Server IP/URL">
        </div>
        <button id="new">Search</button>
      </section>
    </main>
  </body>
</html
