<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="icon" href="img/icon/Yellow32.png" sizes="32x32">
    <link rel="icon" href="img/icon/Yellow192.png" sizes="192x192">
    <title><%= serverName %> – Tally Servers</title>
    <link href="css/fonts.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="js/jQuery.js"></script>
    <script>
      let servers = ['<%= host %>'];
    </script>
    <script type="text/javascript" src="js/servers.js"></script>
    <link rel="stylesheet" href="css/servers.css">
  </head>
  <body id="page" onresize="ResetColumnSizes()" onmouseup="EndDrag()" onmousemove="OnDrag(event)">
    <header id="n_new">
      <div class="versionInfo">
        WebTally v<%= version %>
      </div>
      <div class="n_newCont">
        <div>Search for severs to add to the network</div>
        <input name="url" id="url" placeholder="Server IP/URL">
      </div>
      <button id="new" class="headerButton">Search</button>

      <button class="n_configDev headerButton blue">Show Devices</button>
      <button class="n_configInpt headerButton purple">Virtual Mixer</button>
    </header>

    <div id="LogsDrag" onmousedown="StartRightDrag()"></div>

    <aside id="n_logs">
      <div id="serverLogs">

      </div>
    </aside>

    <main id="n_servers">
    </main>
  </body>
</html
